.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 垂直靠上 */
  align-items: center; /* 水平居中 */
  height: calc(100vh - 64px); /* 假设导航栏高度为64px */
  padding: 20px;
  background-color: #f0f2f5; /* 添加背景颜色 */
  text-align: center; /* 文本居中 */
}

.home-title {
  margin-bottom: 20px;
  color: #1890ff; /* 修改标题颜色 */
}

.home-paragraph {
  margin-bottom: 20px; /* 添加段落间距 */
}

.home-content {
  flex-grow: 1; /* 使内容部分占据剩余空间 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
}
