.app-container {
  margin: 0 auto;
  border: 2px solid #d9d9d9;
  padding: 20px;
  background-color: #ffffff;
}

.categories-container {
  width: 60%;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  border-radius: 20px;
  flex: 1;
}

.action-button {
  margin-left: 10px;
}

.category-title {
  cursor: pointer;
  transition: color 0.3s;
}

.category-title:hover {
  color: #1890ff;
}

.category-card {
  background-color: #f0f2f5;
  border: 1px solid #d9d9d9; /* 添加边框 */
  border-radius: 4px; /* 添加圆角 */
  transition: transform 0.3s, box-shadow 0.3s; /* 添加动效 */
}

.category-card:hover {
  transform: translateY(-5px); /* 鼠标移上去时上移 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}
